
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
  display: block;
  
}
::-webkit-scrollbar{
  display: none;
}
@media (max-width:640px) {
  a.active {
   background-color: black;
   color:white;
  }
  
}
@media (min-width:641px){
a.active{
 color:rgb(35, 197, 35)
}
}